%table
  %tr
    %th Login
    %th Email
    %th Password
    %th
  - @user.each do |ap|
    %tr
      %td= ap.login
      %td= ap.email
      %td= ap.password
      %td
        = link_to  "Apagar", user_path(ap), method: :delete ,
          data: {confirm: "Certeza?"}
= link_to  "Voltar", new_user_path